#card {
    width: 400px;;
    height: 300px;
    display: inline-block;
    line-height: 50px;
    padding: 15px;
    margin: 50px;
}

#buttonClick {
    display: flex;
    justify-content: center;
}

#cardHeader {
    background-color: #03a9f4;
}